#About{
    background-color: #1ABC9C;
}

#About h2{
    color: white;
    font-size: 4rem !important;
}
.mySVG1{
    position: relative;
    color: white;
}
.mySVG1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background-color:white;
    right: 130%;
    top: 50%;
    transform: translateY(-50%);
}
.mySVG1::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    left: 130%;
    top: 50%;
    transform: translateY(-50%);
}